textarea{
    width: 90%;
    height:10vh;
    display:block;
    margin: 1rem;
    padding: 1rem;
    background-color: lightgoldenrodyellow;
}
#output {
  border: 1px solid black;
  height:10vh;
    display:block;
    margin: 1rem;
    padding: 1rem;
    width:90%;
}
.top {
    background-color: rgb(101, 238, 172);
    padding: 2rem;
    text-align: center;
}

.button{
    background-color:  rgb(101, 238, 172);
    margin: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    
}